@font-face {
  font-family: "Bluu Next Cyrillic";
  src: url("../fonts/BluuNextCyrillic/BluuNextCyrillic.woff2") format("woff2"), url("../fonts/BluuNextCyrillic/BluuNextCyrillic.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Bluu Next Cyrillic";
  src: url("../fonts/BluuNextCyrillic/BluuNextCyrillic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BluuNextCyrillic/BluuNextCyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/BluuNextCyrillic/BluuNextCyrillic.woff") format("woff"), url("../fonts/BluuNextCyrillic/BluuNextCyrillic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d1d1d;
  font-family: "Bluu Next Cyrillic", serif;
  font-size: 16px;
}
body.body--index {
  background-image: url("../img/bg.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Bluu Next Cyrillic", serif;
  line-height: 130%;
}

h1 {
  color: #fabf59;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5em;
  }
}

li {
  list-style: none;
}

p {
  line-height: 1.4;
}

.container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 1em;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 1.25em;
  }
}

.invisible {
  display: none !important;
}

.btn {
  background-color: #f9b50c;
  border-radius: 2em;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    font-size: 1.125em;
  }
}
.btn--framed {
  background-color: transparent;
  border: 1px solid #f9b50c;
  color: #f9b50c;
  padding-bottom: calc(1em - 1px);
  padding-top: calc(1em - 1px);
}

.character {
  border-radius: 1.25em;
  font-family: "Inter", sans-serif;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.character__data {
  bottom: 0;
  left: 0;
  padding: 1.25em;
  padding-top: 0;
  position: absolute;
  right: 0;
}
.character__details {
  background-color: #1d1d1d;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0.95;
  overflow-y: scroll;
  padding: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.character:hover .character__details {
  display: block;
}
.character__img {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
.character__img::after {
  background: linear-gradient(179.32deg, #0f0f0f -0.99%, rgba(15, 15, 15, 0.74) 51.85%, rgba(15, 15, 15, 0) 86.04%);
  bottom: 0;
  content: "";
  height: 60%;
  left: 0;
  position: absolute;
  right: 0;
  transform: rotate(-180deg);
}
.character__img-pic {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.character__info {
  color: #fabf59;
  margin: 0 0 0.9375em;
  min-height: 4.625em;
}
.character__info p {
  margin: 0 0 0.1875em;
}
.character__link {
  color: white;
  font-weight: 500;
}
.character__link-a {
  align-items: center;
  color: inherit;
  display: inline-flex;
  position: relative;
  text-decoration: none;
}
.character__link-a::after {
  background: url("../img/arrow-right-ball.svg") no-repeat;
  content: "";
  display: inline-block;
  height: 20px;
  margin: 0 0 0 0.625em;
  width: 30px;
}
.character__name {
  color: white;
  font-size: 1.625em;
  font-weight: 500;
  margin: 0 0 0.192em;
}

.footer {
  padding: 0 0 100px;
}

.header {
  margin-bottom: 50px;
  padding: 70px 0 0;
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 60px;
    padding-top: 85px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    margin-bottom: 70px;
    padding-top: 100px;
  }
}
.header__hd {
  margin: 0 auto;
  max-width: 1040px;
}

.body--index .header {
  margin-bottom: 0;
  padding-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .body--index .header {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .body--index .header {
    padding-bottom: 250px;
  }
}
.body--index .header__btn {
  display: block;
  margin: 0 auto;
}
.body--index .header__hd {
  margin-bottom: 1em;
}

.heroes__btn {
  display: block;
}
.heroes__btn-wrap {
  margin: 0 0.5em;
}
@media screen and (min-width: 768px) {
  .heroes__btn-wrap {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  .heroes__btn-wrap {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
.heroes__hd {
  font-size: 1px;
  left: -10000px;
  position: absolute;
  visibility: hidden;
}
.heroes__img {
  border-radius: 1.25em;
  display: block;
  margin: 0 0 1.25em;
  max-width: 100%;
}
.heroes__link {
  text-decoration: none;
}

.house-switch {
  border: 1px solid #d9d9d9;
  border-radius: 1.875em;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0;
  margin: 0 0 3.125em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .house-switch {
    gap: 0;
  }
}
.house-switch__item {
  align-items: center;
  border-radius: 1.667em;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  font-weight: 700;
  gap: 0.4167em;
  justify-content: center;
  letter-spacing: 0.01em;
  line-height: 1.3;
  padding: 0.55em 0;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .house-switch__item {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .house-switch__item {
    font-size: 1.125em;
    width: 25%;
  }
}
.house-switch__item-logo {
  height: 38px;
  margin: 0 0 0 0;
  outline: none;
  width: 35px;
}
.house-switch__item:hover, .house-switch__item--active {
  background-color: #f9b50c;
  margin: -1px 0;
  padding: calc(0.55em + 1px) 0;
}
.house-switch__item:hover:first-child, .house-switch__item--active:first-child {
  margin-left: -1px;
  padding-left: 1px;
}
.house-switch__item:hover:last-child, .house-switch__item--active:last-child {
  margin-right: -1px;
  padding-right: 1px;
}

.list-data {
  color: #fabf59;
}
.list-data li {
  font-size: 0.875em;
  line-height: 1.4;
  margin: 0 0 0.143em;
}
.list-data li:last-child {
  margin-bottom: 0;
}
.list-data__def {
  color: white;
}

.loading {
  display: block;
}
.loading::before {
  background: url("../img/loading.webp") no-repeat 50% 50%;
  background-size: contain;
  content: "";
  display: block;
  height: 3em;
  margin: 0 auto;
  width: 3em;
}

.status-message {
  color: white;
  font-size: 1.25em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .status-message {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  .status-message {
    font-size: 2em;
  }
}
.status-message--error {
  color: red;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;
}
.tabs__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .tabs--col-3 .tabs__item {
    width: calc((100% - 1.25em) / 2);
  }
}
@media screen and (min-width: 768px) {
  .tabs--col-3 .tabs__item {
    width: calc((100% - 2.5em) / 3);
  }
}
@media screen and (min-width: 480px) {
  .tabs--col-4 .tabs__item {
    width: calc((100% - 1.25em) / 2);
  }
}
@media screen and (min-width: 768px) {
  .tabs--col-4 .tabs__item {
    width: calc((100% - 2.5em) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .tabs--col-4 .tabs__item {
    width: calc((100% - 3.75em) / 4);
  }
}/*# sourceMappingURL=main.css.map */