* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-brand-dark;
  font-family: "Bluu Next Cyrillic", serif;
  font-size: 16px;

  &.body--index {
    background-image: url("../img/bg.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

button {
  border: none;
  cursor: pointer;
  font-family: "Bluu Next Cyrillic", serif;
  line-height: 130%;
}

h1 {
  color: $color-brand-light;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $bp-tablet) {
    font-size: 3.5em;
  }

  @media screen and (min-width: $bp-laptop) {
    font-size: 5em;
  }
}

li {
  list-style: none;
}
p {
  line-height: 1.4;
}
